/*
* @Author: TomChen
* @Date:   2018-06-08 20:16:41
* @Last Modified by:   TomChen
* @Last Modified time: 2018-06-10 11:49:10
*/
/*公共样式开始*/
	body{
		font-size: 12px;
	}
	.container{
		width: 1200px;
		margin: 0 auto;
	}
	.transition{
		transition: all 0.5s;
	}	
/*公共样式结束*/
/*公共连接开始*/
	a{
		text-decoration: none;
		color: #4d555d;
	}
	.link{
		color: #4d555d;
	}
	.link:hover{
		color: #ea675a;
	}
/*公共连接结束*/
/*浮动相关的公共样式开始*/
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.clearfix:after{
		clear: both;
		display: block;
		content: '';
		height: 0px;
		visibility: hidden;
	}
	.clearfix{
		*zoom:1;
	}
/*浮动相关的公共样式结束*/
/*下拉菜单共同样式开始*/
	.dropdown{
		position: relative;
		z-index: 3;
	}
	.dropdown-toggle{
		position: relative;
		z-index: 2;
	}
	
	.dropdown-layer{
		position: absolute;
		z-index: 1;
		display: none;
	}
	[class*='-active'] .dropdown-arrow{
		transform: rotate(180deg);
	}
/*下拉菜单共同样式结束*/