/*
* @Author: TomChen
* @Date:   2018-06-08 20:16:41
* @Last Modified by:   TomChen
* @Last Modified time: 2018-06-12 20:35:23
*/
/*公共样式开始*/
	body{
		font-size: 12px;
	}
	.container{
		width: 1200px;
		margin: 0 auto;
	}
	.transition{
		transition: all 0.5s;
	}	
/*公共样式结束*/
/*公共连接开始*/
	a{
		text-decoration: none;
		color: #4d555d;
	}
	.link{
		color: #4d555d;
	}
	.link:hover{
		color: #ea675a;
	}
/*公共连接结束*/
/*浮动相关的公共样式开始*/
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.clearfix:after{
		clear: both;
		display: block;
		content: '';
		height: 0px;
		visibility: hidden;
	}
	.clearfix{
		*zoom:1;
	}
/*浮动相关的公共样式结束*/
/*下拉菜单共同样式开始*/
	.dropdown{
		position: relative;
		z-index: 3;
	}
	.dropdown-toggle{
		position: relative;
		z-index: 2;
	}
	.dropdown-left{
		left:0;
	}
	.dropdown-right{
		right:0;
	}	
	.dropdown-layer{
		position: absolute;
		z-index: 1;
		display: none;
		overflow: hidden;
	}
	.dropdown-loading{
		width: 32px;
		height: 32px;
		background: url(../images/loading.gif) no-repeat;
		margin:20px;
	}
	[class*='-active'] .dropdown-arrow{
		transform: rotate(180deg);
	}
/*下拉菜单共同样式结束*/
/*显示隐藏公共样式开始*/
		.fadeOut{
			opacity: 0 !important;
			visibility: hidden !important;
		}
		.slideUpDownCollapse{
			height: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.slideLeftRightCollapse{
			width: 0 !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}	
/*显示隐藏公共样式结束*/