/*
* @Author: TomChen
* @Date:   2018-06-08 20:16:41
* @Last Modified by:   TomChen
* @Last Modified time: 2018-06-08 20:50:07
*/
/*公共样式开始*/
	body{
		font-size: 12px;
	}
	.container{
		width: 1200px;
		margin: 0 auto;
	}
/*公共样式结束*/
/*公共连接开始*/
	a{
		text-decoration: none;
	}
	.link{
		color: #4d555d;
	}
	.link:hover{
		color: #ea675a;
	}
/*公共连接结束*/
/*浮动相关的公共样式开始*/
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.clearfix:after{
		clear: both;
		display: block;
		content: '';
		height: 0px;
		visibility: hidden;
	}
	.clearfix{
		*zoom:1;
	}
/*浮动相关的公共样式结束*/