/*
* @Author: TomChen
* @Date:   2018-06-08 20:16:50
* @Last Modified by:   TomChen
* @Last Modified time: 2018-06-10 10:06:23
*/
/*顶部导航开始*/
	.nav-site{
		height: 44px;
		background: #f3f5f7;
	}
	.nav-login{
		color: #ea675a;
	}
	.nav-left li{
		line-height: 44px;
		margin-right: 10px;
	}

	.nav-site .dropdown-toggle{
		display: block;
		height: 44px;
		line-height: 44px;
		padding: 0 10px;
	}
	.nav-site .dropdown-arrow{
		margin-left: 5px;
	}
	.nav-site .dropdown-layer{
		top:43px;
		left:0px;
		background: #fff;
		border: 1px solid #f3f5f6;
	}
	.nav-site .menu-item{
		/*width: 100px;*/
		display: block;
		line-height: 30px;
		padding: 0 15px;
		white-space: nowrap;
	}
	.nav-site .menu-item:hover{
		background: #f3f5f6;
	}

	/*
	CSS实现下拉显示,下一步转为用jQuery控制class来实现
	.dropdown:hover .dropdown-layer{
		display: block;
	}
	.dropdown:hover .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f6;
		border-right: 1px solid #f3f5f6;
	}
	.dropdown:hover .dropdonw-arrow{
		transform: rotate(180deg);
		transition: all 0.5s;
	}
	*/
	.menu-active .dropdown-layer{
		display: block;
	}
	.menu-active .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f6;
		border-right: 1px solid #f3f5f6;
	}
/*	.menu-active .dropdown-arrow{
		transform: rotate(180deg);
	}*/
	
/*顶部导航结束*/
/*头部开始*/
	.header{
		height: 100px;
		background: yellow;
	}
/*头部结束*/
/*主导航开始*/
	.nav-main{
		height: 50px;
		background: orange;
	}
/*主导航结束*/
/*主要内容开始*/
	.focus{
		height: 500px;
		background: pink;
	}
/*主要内容结束*/
/*今日热销开始*/
	.todays{
		height: 100px;
		background: black;
	}
/*今日热销结束*/
/*楼层开始*/
	.floor{
		height: 300px;
		background: red;
	}
/*楼层结束*/